footer.app-footer
      a(href='http://driveonauto.com') CTM
      |  © 2018.
      //- span.float-right
      //-   | Powered by 
      //-   a(href='https://www.facebook.com/Bvpneusoficial/') BV Pneus