head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Container Tracking Management')
    meta(name='author', content='MSA Devs')
    meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,JADE,Dashboard')
    
    // Icons
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css', rel='stylesheet')
    
    // Main styles for this application
    link(href='/stylesheets/mainstyle.css', rel='stylesheet')

    //- favicon
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon-16x16.png')
    
    // Bootstrap and necessary plugins
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')

    meta(name='theme-color', content='#ffffff')
    block head
    