//- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js')
script(src='/vendor/bootstrap/js/popper.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
script(src='https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js')

//- // Plugins and scripts required by all views
//- script(src='#{baseuri}bower_components/chart.js/dist/Chart.min.js')
// GenesisUI main scripts
script(src='/javascripts/app.js')
//- // Plugins and scripts required by this views
//- script(src='js/views/charts.js')


block scripts
